body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

main {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

div.contorno {
  border: 1px solid black;
  border-radius: 10px;
  width: 30em;
  margin: auto;
}

input {
  width: 14em;
  margin: 0px;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 20px;
  border: none;
}

button.adicionar {
  width: 8em;
  margin: 0px;
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: black;
  cursor: pointer;
  background-color: lightgreen;
  color: rgb(3, 69, 3);
  font-weight: bold;
  font-size: 20px;
  border: none;
}

section#areaLista {
  margin: auto;
  width: 90%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc inset;
  padding: 20px;
  padding-bottom: 10px;
  margin-top: 30px;
}

div.comentario.clicado {
  text-decoration: line-through;
  color: rgba(107, 89, 89, 0.625);
  background-color: rgba(144, 238, 144, 0.468);
}

span.sombra {
  text-shadow: 1px 1px 6px black;
}

div.comentario {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 6px;
  border-radius: 10px;
}

#item-icone {
  width: 15%;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

#item-nome {
  width: 55%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

#item-botao {
  width: 25%;
}

.delete {
  background-color: red;
  border: none;
  padding: 10px;
  height: 100%;
  width: 100%;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.mdi-check-circle {
  color: green;
}

@media only screen and (max-width: 520px) {
  div.contorno {
    width: 18.9em;
  }

  input {
    width: 12em;
    margin: 0px;
    padding: 20px;
    font-size: 14px;
  }

  button.adicionar {
    width: 6.7em;
    font-size: 14px;
  }

  section#areaLista {
    width: 80%;
  }
}
